{{- $enable_fzf := promptBool "enable fzf" -}}

[data]
enable_fzf = "{{ $enable_fzf }}"
fzfdir = "/usr/share/fzf"
nvmdir = "$HOME/.local/share/nvm"
nvmsrc = "/usr/share/nvm"
zdotdir = "${XDG_CONFIG_HOME:-$HOME/.config}/zsh"
