{{- /* vim: set ft=vim: */ -}}

{{ include "inc/vim_nvim.vim" }}

set cursorline
set foldlevelstart=20
set hidden
set ignorecase
set mouse=
set relativenumber
set scrolloff=3
set smartcase
set updatetime=1000
set wildmode=list:longest,full

set expandtab
set shiftwidth=2
set softtabstop=2
set tabstop=4

runtime ftplugin/man.vim
filetype plugin indent on

{{ if ne .chezmoi.hostname "freenas" -}}
syntax on
{{- end }}

{{ if .enable_vplug -}}
runtime plug.vim
runtime pluginit.vim
{{- end }}

map <Space> <Leader>
inoremap jj <Esc>
nnoremap <Leader>m :<C-U>exe 'Man' v:count '<cword>'<CR>
nnoremap <Leader>q :bp<CR>:bd #<CR>
nnoremap <Leader>b :buffers<CR>:buffer<Space>
