{{- /* vim: set ft=sh: */ -}}
#!/usr/bin/env bash

{{ if eq .chezmoi.hostname "hitagi" -}}
src=/usr/share/fzf
dst="$(chezmoi source-path "$HOME/.local/share/fzf")"

if [[ -e $src ]]; then
  cp "$src"/*.zsh "$dst/"
fi
{{- end }}
