{{- /* vim: set ft=sh: */ -}}
#!/usr/bin/env bash

die() {
  echo "${1:-}" >&2
  exit 1
}

check_bin() {
  local bin=$1
  local pkg=${2:-$1}
  if ! command -v $bin &> /dev/null; then
    die "missing binary $bin"
  fi
}

check_bin git
check_bin zsh

if [[ ! -e {{ .zdotdir }}/zgen ]]; then
  git clone https://github.com/tarjoilija/zgen.git "{{ .zdotdir }}/zgen"
fi
