{{- /* vim: set ft=sh: */ -}}
source "$ZDOTDIR/zgen/zgen.zsh"

if ! zgen saved; then
  zgen load denysdovhan/spaceship-prompt spaceship

  {{ if eq .chezmoi.hostname "hitagi" -}}
  zgen load laggardkernel/git-ignore
  zgen oh-my-zsh lib/clipboard.zsh
  {{- end }}

  my_zlib="$ZDOTDIR/lib"
  zgen load "$my_zlib/completion.zsh"
  zgen load "$my_zlib/key_bindings.zsh"
  zgen load "$my_zlib/prompt.zsh"
  unset my_zlib

  zgen save
fi

HISTFILE="$ZDOTDIR/history"
HISTSIZE=100000
SAVEHIST=100000

# for faster switching between vi modes
KEYTIMEOUT=1

# don't remove space after completion
# https://superuser.com/a/613817
ZLE_REMOVE_SUFFIX_CHARS=$' \t\n;'

setopt auto_cd
setopt complete_in_word
setopt correct
setopt hist_ignore_all_dups
setopt hist_ignore_space
setopt hist_reduce_blanks
setopt share_history
unsetopt beep
unsetopt glob_dots

alias e='$EDITOR'
alias se=sudoedit
alias ls='ls --color=auto'
alias l='ls -Fhl'
alias la='ls -aFhl'
alias ll='ls -AFhl'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

export EDITOR={{ .editor }}
export PAGER=less

{{ if eq .chezmoi.hostname "hitagi" -}}
export AURDEST=~/Build/aur
export GPG_TTY=$(tty)
{{- end }}

{{ if .enable_fzf -}}
if [[ -e {{ .fzfdir }} ]]; then
  source "{{ .fzfdir }}/completion.zsh"
  source "{{ .fzfdir }}/key-bindings.zsh"
  export FZF_DEFAULT_COMMAND='fd ""'
fi
{{- end }}

{{ if .enable_nvm -}}
NVM_SOURCE='{{ .nvmsrc }}'
if [[ -e $NVM_SOURCE ]]; then
  export NVM_SOURCE
  export NVM_DIR="{{ .nvmdir }}"
  source "$NVM_SOURCE/nvm.sh" --no-use
  source "$NVM_SOURCE/bash_completion"
  source "$NVM_SOURCE/install-nvm-exec"
fi
{{- end }}
