{{- /* vim: set ft=vim: */ -}}

call plug#begin('~/.vim/plugged')
Plug 'altercation/vim-colors-solarized'
Plug 'jiangmiao/auto-pairs'
{{ if .enable_fzf -}}Plug 'junegunn/fzf.vim'{{- end }}
Plug 'junegunn/vim-easy-align'
Plug 'scrooloose/nerdcommenter'
Plug 'tpope/vim-endwise'
Plug 'tpope/vim-fugitive'
Plug 'tpope/vim-repeat'
Plug 'tpope/vim-surround'
Plug 'vim-airline/vim-airline'
Plug 'vim-airline/vim-airline-themes'

{{ if eq .chezmoi.hostname "hitagi" -}}
Plug 'airblade/vim-gitgutter'
Plug 'christoomey/vim-tmux-navigator'
Plug 'scrooloose/nerdtree'
{{- end }}
call plug#end()

colorscheme solarized

let g:airline_theme = 'solarized'
let g:airline_powerline_fonts = 1
let g:airline#extensions#tabline#enabled = 1

{{ if eq .chezmoi.hostname "hitagi" -}}

autocmd StdinReadPre * let s:std_in=1
autocmd VimEnter * if argc() == 0 && !exists('s:std_in') | NERDTree | endif

nnoremap <Leader>t :NERDTreeToggle<CR>
{{- end }}

{{ if .enable_fzf -}}
nnoremap <Leader>f :Files<CR>
nmap <Leader><Tab> <Plug>(fzf-maps-n)
xmap <Leader><Tab> <Plug>(fzf-maps-x)
omap <Leader><Tab> <Plug>(fzf-maps-o)
{{- end }}
