source "$ZDOTDIR/zgen/zgen.zsh"

if ! zgen saved; then
  zgen load denysdovhan/spaceship-prompt spaceship

  {{ if eq .chezmoi.hostname "hitagi" -}}
  zgen load laggardkernel/git-ignore
  zgen oh-my-zsh lib/clipboard.zsh
  {{- end }}

  my_zlib="$ZDOTDIR/lib"

  zgen load "$my_zlib/completion.zsh"
  zgen load "$my_zlib/key_bindings.zsh"
  zgen load "$my_zlib/prompt.zsh"

  {{ if eq .enable_nvm "true" -}}
  zgen load "$my_zlib/nvm.zsh"
  {{- end }}

  {{ if eq .enable_fzf "true" -}}
  zgen load "$my_zlib/fzf.zsh"
  {{- end }}

  unset my_zlib

  zgen save
fi

HISTFILE="$ZDOTDIR/history"
HISTSIZE=100000
SAVEHIST=100000

# for faster switching between vi modes
KEYTIMEOUT=1

# changes that '&|' don't remove space after completion
# https://superuser.com/a/613817
ZLE_REMOVE_SUFFIX_CHARS=$' \t\n;'

setopt auto_cd
setopt complete_in_word
setopt correct
setopt hist_ignore_all_dups
setopt hist_ignore_space
setopt hist_reduce_blanks
setopt share_history
unsetopt beep
unsetopt glob_dots

#autoload -Uz bracketed-paste-url-magic
#zle -N bracketed-paste bracketed-paste-url-magic

alias e='$EDITOR'
alias se=sudoedit
alias ls='ls --color=auto'
alias l='ls -Fhl'
alias la='ls -aFhl'
alias ll='ls -AFhl'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

export EDITOR=nvim
export PAGER=less

{{ if eq .chezmoi.hostname "hitagi" -}}
export AURDEST=~/Build/aur
export GPG_TTY=$(tty)
{{- end }}
